In [1]:
#strings
string1 = "pwskills"
string2 = 'pwskills'

In [2]:
string1

'pwskills'

In [3]:
string2

'pwskills'

In [4]:
type(string1)

str

In [5]:
#it will theow an error
'I'm a student'

SyntaxError: unterminated string literal (detected at line 2) (<ipython-input-5-f2a1778ceb8f>, line 2)

In [ ]:
'''I'm a student
I study in pwskills
I am a data scientist'''

In [ ]:
 #concatenation of strings
 "hello" + " world"

In [ ]:
string1 = "hello"
string2 = "world"
string1 + " " + string2

In [ ]:
string1 + ',' + string2

In [ ]:
string1 + ' > ' + string2

In [ ]:
#Extract / sclicing of string
a= "Nikhil"
a[0]

In [ ]:
a[1]

In [ ]:
a[-1]

In [ ]:
string1 = "I am a student"
string1[0:4] # 4 is exclusive [a, b]>> it will give result b-1 index

In [ ]:
# Except the last three characters
a = "pwskills"
a[:-3]

In [ ]:
# you want only last characters
string2 = "hello world"
string2[-3:]

In [ ]:
string2[0:5:1] # start:end:step

In [ ]:
string2[::]

In [ ]:
string2[::2]

In [ ]:
# reverse the string
string2[::-1]

In [ ]:
# no of characters
len(string2)

In [ ]:
# modification of string
s = "I am a student"
s.replace("student" , "data scientist")

In [ ]:
#use cases
text = "BRB, TTYL, LOL"
text.replace("BRB", "Be right back").replace("TTYL", "Talk to you later").replace("LOL", "Laughing out loud")

In [ ]:
# lower case
text = "I am a Student"
text.lower()

In [ ]:
text.upper()

In [ ]:
# first later of each word capital
text = "i am a student"
text.title()

In [ ]:
# first later capital
text.capitalize()

In [ ]:
# convert uppercase character to lowercase and lowercase to uppercase
text = " I am a Student"
text.swapcase()

In [ ]:
# string searching
text = "I am a student"
"student" in text

In [ ]:
#use cases
text = "I am a student"
search_word = "am"
if search_word in text:
    print(f"The word '{search_word}' is present in the text.")
else:
    print(f"The word '{search_word}' is not present in the text.")

In [ ]:
email = "nikhil123@gmail.com"
if "@" in email:
    print("Valid email")
else:
    print("Invalid email")

In [ ]:
document = "some_file.pdf"
if "pdf" in document:
    print("Its a pdf file")
else:
    print("Not a pdf file")

In [ ]:
# comparison of string
str1 = "hello"
str2 = "hello"
str1 == str2

In [ ]:
str1 = "Hello"
str2 = "hello"
str1 == str2

In [ ]:
str1 = "Hello"
str2 = "hello"
str1.lower() == str2.lower()

In [ ]:
product_code = "P123"
scaned_code = input("Enter the product code:")
if product_code == scaned_code:
    print("Product is valid")
else:
    print("Product is not valid")

In [ ]:
Laptop_brand = "Asus", "Dell", "Acer" , "HP"
brand = input("Enter the laptop brand:")
if brand in Laptop_brand:
    print("Laptop is valid")
else:
    print("Laptop is not valid")

In [ ]:
Laptop_brand = "Asus", "Dell", "Acer" , "HP"
brand = input("Enter the laptop brand:")
if brand in Laptop_brand:
    print("Laptop is valid")
else:
    print("Laptop is not valid")

In [ ]:
# string ordering
name = ["Nikhil", "Ajay", "Bijay"]
sorted(name)

In [ ]:
movies = ["Singham", "3 idiot", "Shole", "PK", "Agnipath", "Bahubali"]
sorted(movies)

In [ ]:
# common strung operatins
a = "          hello"
a

In [ ]:
a = "          hello"
a.strip()

In [6]:
row = "Apple                "
row.strip()

'Apple'

In [7]:
# string splitting
data = "Nikhil, data science, student"
student_info = data.split(',')

In [8]:
student_info

['Nikhil', ' data science', ' student']

In [9]:
# Escape sequences >> special combinatin of characters used within a string
address = """123 sanmukha villa,
marathalli,
banglore"""

In [10]:
address

'123 sanmukha villa,\nmarathalli,\nbanglore'

In [11]:
print(address)

123 sanmukha villa,
marathalli,
banglore

In [12]:
address1 = "123 sanmukha villa,\nmarathalli,\nbanglore"

In [13]:
print(address1) #\n >> to insert a new line

123 sanmukha villa,
marathalli,
banglore

In [14]:
# \t escape character \t >> tab
table = "Name\tAge\tCity\nJohn\t25\tNew York\nJane\t30\tLondon"
table

'Name\tAge\tCity\nJohn\t25\tNew York\nJane\t30\tLondon'

In [15]:
print(table)

Name	Age	City
John	25	New York
Jane	30	London

In [16]:
file_path = "C:\\Users\\Nikhil\\Documents"
print(file_path)

C:\Users\Nikhil\Documents

In [17]:
# \' single quote escape
str1 = 'I\'m a student'
print(str1)

I'm a student

In [18]:
 # carriage return \r >> moves the cursor to the beginning of the line
 print("Hello, I am \rNikhil, I am going to delhi")

Nikhil, I am going to delhi

In [19]:
# string formatting >> creating string with placejolder for variables
print("My name is Nikhil")

My name is Nikhil

In [20]:
name = "Nikhil"
greetings = f"hello,{name} how are you?"
print(greetings)

hello,Nikhil how are you?

In [21]:
name = "Vijay"
greetings = f"hello,{name} how are you?"
print(greetings)

hello,Vijay how are you?

In [22]:
# f string (formatted string literals)
course = "pw data + frontend"
duration = 4
f"My course is {course} and its duration is {duration} years."

'My course is pw data + frontend and its duration is 4 years.'

In [23]:
user_name = "Ajay"
post_date = "2024-08-27"
print(f"Hello user, {user_name}, Today is {post_date} post.")

Hello user, Ajay, Today is 2024-08-27 post.

In [27]:
celsius = 30
f"{celsius} is equals to, {(celsius * 9/5)+32}F"

'30 is equals to, 86.0F'

In [28]:
celsius  = 25
fahrenheit = (celsius * 9/5) + 32
print(f"{celsius} degrees celsius is equal to {fahrenheit} degrees fahrenheit.")

25 degrees celsius is equal to 77.0 degrees fahrenheit.

In [1]:
str1 = "pwskills"
str1.startswith("p")

True

In [3]:
str1.startswith("pws")

True

In [4]:
str1.startswith("aws")

False

In [5]:
str1 = "pwskills"
str1.endswith("ls")

True

In [6]:
a = "123abc"
a.isalnum()

True

In [11]:
a ="sbc"
a.isalnum()

True

In [12]:
a= "123"
a.isdigit()

True

In [14]:
s = "pwskills"
len(s)

8

In [15]:
count = 0
for i in s:
    print(i)
    count = count +1
print(count)

p
w
s
k
i
l
l
s
8