In [1]:
#Tuple are ordered collection of elements, heterogenous
#Tuples are immutable

In [2]:
t = ()

In [3]:
type(t)

tuple

In [4]:
t = ("pwskills", True, 123, "Nikhil", 3+5j)

In [7]:
type(t)

tuple

In [8]:
t[0]

'pwskills'

In [10]:
t[-1]

(3+5j)

In [11]:
#tuples are immutable
t[0] = "Data Science"

TypeError: 'tuple' object does not support item assignment

In [14]:
#use > Use tuples as a data structure where you dont want to modify the data
emid = (1,2,3,4,5,6)
emid[1] = 100

TypeError: 'tuple' object does not support item assignment

In [22]:
tuple1 = (1,1,1,4,5,6, "pwskills", "Nikhil", "Data Science")
tuple1.count(1)

3

In [23]:
tuple1.count("Nikhil")

1

In [25]:
tuple1.index("Nikhil")

7

In [26]:
print(tuple1*2)

(1, 1, 1, 4, 5, 6, 'pwskills', 'Nikhil', 'Data Science', 1, 1, 1, 4, 5, 6, 'pwskills', 'Nikhil', 'Data Science')

In [27]:
tuple1

(1, 1, 1, 4, 5, 6, 'pwskills', 'Nikhil', 'Data Science')

In [32]:
tuple1[0:3]

(1, 1, 1)

In [33]:
tuple1[::-1]

('Data Science', 'Nikhil', 'pwskills', 6, 5, 4, 1, 1, 1)

In [35]:
for i in tuple1:
    print(i, type(i))

1 <class 'int'>
1 <class 'int'>
1 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
pwskills <class 'str'>
Nikhil <class 'str'>
Data Science <class 'str'>

In [36]:
t1 = (1,2,100,400)
max(t1)

400

In [37]:
min(t1)

1

In [38]:
t2 =(101, 200, 350)

In [39]:
t1

(1, 2, 100, 400)

In [40]:
t2

(101, 200, 350)

In [43]:
t3 = (t1,t2) #nasted tuples

In [44]:
t3

((1, 2, 100, 400), (101, 200, 350))

In [45]:
type(t3)

tuple

In [46]:
len(t3)

2

In [48]:
t1 in t3

True

In [50]:
400 in t1

True

In [51]:
"pwskills" in tuple1

True

In [52]:
#combine both tuples
t1+t2

(1, 2, 100, 400, 101, 200, 350)

In [53]:
# Sets >> sets are unorder and unique of elemets
# does not allow duplicate elements
#unordered >> indexing will not work

In [54]:
s ={}
type(s)

dict

In [56]:
s = {1,2,3,4}
type(s)

set

In [59]:
s ={1,2,3,3,1,"Nikhil", "Nikhil", "pwskills", "pwskills","nikhil"}
s  # gives unique collection of elements

{1, 2, 3, 'Nikhil', 'nikhil', 'pwskills'}

In [62]:
# use case
list1 = [1, 2, 3, "Brinjal", "Brinjal", "Apple", "Apple"]
s = set(list1)

In [66]:
s

{1, 2, 3, 'Apple', 'Brinjal'}

In [75]:
del list

In [77]:
list1 =list(s)

In [78]:
list1

[1, 2, 3, 'Brinjal', 'Apple']

In [79]:
s

{1, 2, 3, 'Apple', 'Brinjal'}

In [80]:
s[2]

TypeError: 'set' object is not subscriptable

In [81]:
list(s)[2] # Convert the set to a list before indexing

3

In [82]:
s

{1, 2, 3, 'Apple', 'Brinjal'}

In [84]:
s = {1, 2, 3, 4, {5, 6, 7}} #unhasble type > it is mutable list, set
#immutable data structure has a stable value like tuples

TypeError: unhashable type: 'set'

In [90]:
s = {1, 2, 3, 4, (5, 6, 7)} #hashable type > it is immutable tuple

In [91]:
s

{(5, 6, 7), 1, 2, 3, 4}

In [92]:
s[1] #not index

TypeError: 'set' object is not subscriptable

In [93]:
s[:2] #  not slicing

TypeError: 'set' object is not subscriptable

In [94]:
for i in s:
  print(i)

(5, 6, 7)
1
2
3
4

In [101]:
# sometime set is mutable
a = {1,2,3,4,5}
a.add(100)

In [102]:
a

{1, 2, 3, 4, 5, 100}

In [103]:
a.add(6) #not compulsory that it will add to the last of set

In [105]:
a

{1, 2, 3, 4, 5, 6, 100}

In [106]:
a.pop() ##not compulsory that it will remove to the last element of set
#it removes randomly

1

In [107]:
a

{2, 3, 4, 5, 6, 100}

In [108]:
a.remove(4) #removes specific elements

In [109]:
a

{2, 3, 5, 6, 100}

In [110]:
a.update("nikhil") #update take iterable

In [111]:
a

{100, 2, 3, 5, 6, 'h', 'i', 'k', 'l', 'n'}

In [113]:
a.update(["nikhil"])

In [114]:
a

{100, 2, 3, 5, 6, 'h', 'i', 'k', 'l', 'n', 'nikhil'}

In [115]:
a.update([2200, 3000])

In [116]:
a

{100, 2, 2200, 3, 3000, 5, 6, 'h', 'i', 'k', 'l', 'n', 'nikhil'}

In [123]:
s= {1,2,"milk", (2,3), 2.3}

In [124]:
s.clear()

In [125]:
s

set()

In [126]:
del s

In [127]:
s

NameError: name 's' is not defined

In [128]:
s= {1,2,"milk", 100, 201, (2,3), 2.3}

In [129]:
s

{(2, 3), 1, 100, 2, 2.3, 201, 'milk'}

In [132]:
s.discard(100) #remove element

In [133]:
s

{(2, 3), 1, 2, 2.3, 201, 'milk'}

In [135]:
s.discard(110) #error will  not be thrwn unlikely remove if elements is not present

In [ ]:
#set operations
#Union : combine elements from two sets excluding duplicate
#Intersectioion: only common elements btw sets
#difference: return the elements that is present in first set and in second
#symmetric differece: returns elements thst are present in either of sets nut not in

In [136]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

In [137]:
s1 | s2 #union . all the elements

{1, 2, 3, 4, 5, 6, 7, 8}

In [138]:
s1 & s2 #intersection >> common elements

{4, 5}

In [139]:
s1-s2 #difference >> elements in s1 but not in s2

{1, 2, 3}

In [140]:
s1 ^ s2 #symmetric difference >> elements in s1 or s2 but not in both / common part removed

{1, 2, 3, 6, 7, 8}

In [141]:
#frozen sets >> immutable version of set, connot be added or removed any new element

In [143]:
my_fs = frozenset([1,2,3,7,3,2,4,5])

In [144]:
my_fs

frozenset({1, 2, 3, 4, 5, 7})

In [145]:
type(my_fs)

frozenset

In [147]:
my_fs.add(5) #cannot add ar remove elements

AttributeError: 'frozenset' object has no attribute 'add'